spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

axon:
  eventhandling:
    processors:
      default:
        mode: subscribing
        source: eventStore
  serializer:
    general: jackson
    events: jackson
    messages: jackson
  axonserver:
    enabled: false
  eventstore:
    embedded:
      enabled: true

logging:
  level:
    org.axonframework: INFO
    com.example.ordermanagement: INFO
    org.springframework.web: WARN 